# Основные зависимости для FastAPI
fastapi==0.95.2
uvicorn==0.22.0

# Работа с базой данных
sqlalchemy==2.0.20
psycopg2-binary==2.9.6  # Драйвер для PostgreSQL
alembic==1.11.1  # Для миграций базы данных

# Валидация данных
pydantic==1.10.7

# CORS (если используется)
python-multipart==0.0.6  # Для работы с формами и файлами

# Дополнительные утилиты (если нужны)
python-dotenv==1.0.0  # Для работы с переменными окружения из .env файла
tenacity